<script>
  async function printUser() {
    const profile = await (await fetch('/api/user', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        username: "peam",
        birthdate: Date.now(),
        interests: ["m", "adsf", "al;ksjf", "alskfdj", "l;akjs"],
        gender: "Male"
      })
    })).json();
    document.body.innerHTML += `<h1>done</h1>`;
  }
  window.printUser = printUser;
</script>

<body>
  <button onclick="window.printUser()">test</button>
</body>
