<script>
  document.getElementById(
    "getting-start-progress"
  ).style = `width: calc(14.28% * 2)`;
  const MaleSelector = document.getElementById("Male");
  const FemaleSelector = document.getElementById("Female");
  const continueSelector = document.getElementById("continue");

  const enableContinue = () => {
    continueSelector.classList.add("bg-primary");
    continueSelector.classList.remove("bg-button-secondary");
    continueSelector.classList.remove("text-secondary-contrast");
    continueSelector.classList.add("text-white");
    continueSelector.removeAttribute("disabled");
  };

  const disableContinue = () => {
    continueSelector.classList.remove("bg-primary");
    continueSelector.classList.add("bg-button-secondary");
    continueSelector.classList.add("text-secondary-contrast");
    continueSelector.classList.remove("text-white");
    continueSelector.setAttribute("disabled", "true");
  };

  const enableSelector = (selector) => {
    selector.classList.remove("border-secondary");
    selector.classList.add("border-primary");

    selector.classList.add("text-primary");
    selector.classList.remove("text-secondary-contrast");
  };

  const disableSelector = (selector) => {
    selector.classList.add("border-secondary");
    selector.classList.remove("border-primary");

    selector.classList.remove("text-primary");
    selector.classList.add("text-secondary-contrast");
  };

  const setSex = useState("prefGender", "", [
    (sex) => {
      if (sex) enableContinue();
      else disableContinue();

      disableSelector(MaleSelector);
      disableSelector(FemaleSelector);

      switch (sex) {
        case "Male":
          enableSelector(MaleSelector);
          break;
        case "Female":
          enableSelector(FemaleSelector);
          break;
        default:
          MaleSelector.classList.remove("border-primary");
          FemaleSelector.classList.remove("border-primary");
      }
    },
  ]);
  window.userPage = {
    setSex,
  };
</script>

<div class="text-4xl text-black mt-10 font-bold">I'm looking for</div>
<div class="text-secondary mt-3 text-sm mb-12">What are you looking for</div>
<div
  id="Male"
  onclick="userPage.setSex(s=> s=='Male' ? '' : 'Male')"
  class="my-3 text-center font-bold rounded-full border-2 border-secondary text-secondary-contrast p-2"
>
  MALE
</div>
<div
  id="Female"
  onclick="userPage.setSex(s=> s=='Female' ? '' : 'Female')"
  class="my-3 text-center font-bold rounded-full border-2 border-secondary text-secondary-contrast p-2"
>
  FEMALE
</div>
<div class="h-full"></div>
<button
  id="continue"
  disabled="true"
  onclick="router.push('/getting-start/username')"
  class="my-12 text-center font-bold rounded-full bg-button-secondary text-secondary-contrast p-2"
>
  CONTINUE
</button>
