<script>
  window.login = () => {
    window.location.href = "api/auth/login";
  };

  document.getElementById("getting-start-progress").style = `width: 20%`;
</script>

<div class="text-4xl text-black mt-10 font-bold">I'm looking for</div>

<div class="text-secondary mt-3 text-sm mb-12">What are you looking for</div>

<div
  class="my-3 text-center font-bold rounded-full border-2 border-secondary text-secondary-contrast p-2"
>
  MAN
</div>

<div
  class="my-3 text-center font-bold rounded-full border-2 border-secondary text-secondary-contrast p-2"
>
  WOMAN
</div>
<div class="h-full"></div>
<div
  onclick="router.push('/getting-start/interest')"
  class="my-12 text-center font-bold rounded-full bg-button-secondary text-secondary-contrast p-2"
>
  CONTINUE
</div>
