<script>
  window.login = () => {
    window.location.href = "api/auth/login";
  };
</script>

<div class="text-4xl text-black mt-10 font-bold">My first name is</div>
<div class="mt-12">
  <input
    type="text"
    placeholder="First name"
    class="border-b-2 border-primary bg-transparent p-2 text-xl w-full"
  />
</div>
<div class="text-secondary mt-3 text-sm h-full">
  This is how it will appear in Cvinder and you will not be able to change it
</div>
<div
  class="my-12 text-center font-bold rounded-full bg-button-secondary text-secondary-contrast p-2"
>
  CONTINUE
</div>
