<script>
  console.log(getGlobalState());
  document.getElementById("getting-start-progress").style = `width: 100%`;
</script>

<div class="text-center py-12">
  <h2>Welcome to Cvinder.</h2>
  <p class="-mt-3 text-secondary">Please follow these House Rules.</p>

  <div class="flex gap-2 mt-12">
    <img src="/icons/checked.svg" alt="" />
    <b>Be yourself.</b>
  </div>
  <p class="text-left text-secondary-contrast text-sm">
    Make sure your photos, age, and bio are true to who you are.
  </p>
</div>
<div class="h-full"></div>
<button
  onclick="router.push('/user/swipe')"
  class="my-12 text-center font-bold rounded-full bg-primary text-white p-2"
>
  CONTINUE
</button>
