<script>
  const state = getGlobalState();
  document.getElementById("getting-start-progress").style = `width: 100%`;
  console.log(state);
  const convertTimeStamp = (dateString) => {
    const [year, month, day] = dateString.split("-");
    const timestamp = Date.UTC(year, month - 1, day) / 1000;
    return timestamp;
  };
  const continueSelector = document.getElementById("continue");
  const convertToBase64 = (file) =>
    new Promise((resolve, reject) => {
      const fileReader = new FileReader();
      fileReader.readAsDataURL(file);

      fileReader.onload = () => {
        resolve(fileReader.result);
      };

      fileReader.onerror = (error) => {
        reject(error);
      };
    });

  // fetch("/api/user/image/aa")
  //   .then((r) => r.json())
  //   .then(console.log);

  (async () => {
    const photoKeys = [];
    for (const base64File of await Promise.all(
      state.photos.filter((p) => p).map((p) => convertToBase64(p))
    )) {
      console.log(base64File);
      const { key } = await (
        await fetch("/api/user/upload", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ base64File }),
        })
      ).json();
      photoKeys.push(key);
    }
    fetch("/api/user/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        photos: photoKeys,
        username: state.username,
        prefGender: state.prefGender,
        birthdate: convertTimeStamp(state.birthDate),
        gender: state.gender,
        interests: state.interests,
        bio: state.bio,
      }),
    })
      .then(() => useGuard(false))
      .then(() => {
        continueSelector.classList.add("bg-primary");
        continueSelector.classList.remove("bg-button-secondary");
        continueSelector.classList.remove("text-secondary-contrast");
        continueSelector.classList.add("text-white");
        continueSelector.removeAttribute("disabled");
      });
  })();
</script>

<div class="text-center py-12">
  <h2>Welcome to Cvinder.</h2>
  <p class="-mt-3 text-secondary">Please follow these House Rules.</p>

  <div class="flex gap-2 mt-12">
    <img src="/icons/checked.svg" alt="" />
    <b>Be yourself.</b>
  </div>
  <p class="text-left text-secondary-contrast text-sm">
    Make sure your photos, age, and bio are true to who you are.
  </p>
</div>
<div class="h-full"></div>
<button
  disabled
  id="continue"
  onclick="router.push('/user/swipe')"
  class="my-12 text-center font-bold rounded-full bg-secondary-contrast text-secondary p-2"
>
  CONTINUE
</button>
