<div class="flex h-full w-full overflow-hidden">
  <div
    class="px-4 py-5 justify-center relative gap-4 items-center flex flex-col lg:flex hidden"
  >
    <div class="absolute top-0 pt-4">
      <img src="/icons/logo-bottom-selected.svg" style="width: 30px" class="" />
    </div>
    <div>
      <img
        id="swipe"
        src="/icons/logo-bottom-selected.svg"
        onclick="router.push('/user/swipe')"
      />
    </div>
    <div>
      <img src="/icons/chat-bottom.svg" onclick="router.push('/chat')" />
    </div>
    <div>
      <img
        id="settings"
        src="/icons/user-bottom.svg"
        onclick="router.push('/user/settings')"
      />
    </div>
  </div>
  <div class="mx-auto w-full max-w-sm flex flex-col">
    <div class="mx-12 py-5 flex h-full flex-col">
      <img
        src="/icons/logo-sm.svg"
        style="width: 120px"
        class="mx-auto lg:hidden"
      />
      <div class="h-full flex relative flex-col">
        <slot></slot>
      </div>
      <div class="flex mx-12 lg:hidden justify-between">
        <img
          id="swipe"
          src="/icons/logo-bottom-selected.svg"
          onclick="router.push('/user/swipe')"
        />
        <img src="/icons/chat-bottom.svg" onclick="router.push('/chat')" />
        <img
          id="settings"
          src="/icons/user-bottom.svg"
          onclick="router.push('/user/settings')"
        />
      </div>
    </div>
  </div>
</div>
