<div class="flex h-full flex w-full overflow-hidden">
  <div class="mx-auto w-full max-w-sm border flex flex-col">
    <div class="mx-12 py-5 flex h-full flex-col">
      <img src="/icons/logo-sm.svg" style="width: 120px" class="mx-auto" />
      <div class="h-full flex relative flex-col">
        <slot></slot>
      </div>
      <div class="flex mx-12 justify-between">
        <img src="/icons/logo-bottom-selected.svg" />
        <img src="/icons/chat-bottom.svg" onclick="router.push('/chat')" />
        <img src="/icons/user-bottom.svg" />
      </div>
    </div>
  </div>
</div>
