<script>
  useGuard();
  const bio = document.getElementById("bio");
  const saveBioButton = document.getElementById("save");
  let originalBio = "";
  const fetchUser = async () => {
    const user = await fetch("/api/user/me").then((res) => res.json());
    document.getElementById("profile-image").style.backgroundImage =
      "url('/api/user/image/" + user.photos[0] + "')";

    document.getElementById("name").innerText =
      user.username +
      ", " +
      Math.floor((new Date() / 1000 - user.birthdate) / 31557600);
    bio.value = user.bio;
    originalBio = user.bio;
  };
  fetchUser();
  bio.addEventListener("input", (e) => {
    if (e.target.value == originalBio) {
      saveBioButton.style.display = "none";
      return;
    }
    saveBioButton.style.display = "block";
  });

  const saveBio = () => {
    fetch("/api/user/bio", {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        bio: bio.value,
      }),
    }).then(() => {
      saveBioButton.style.display = "none";
    });
  };
  saveBioButton.addEventListener("click", saveBio);
  document.getElementById("swipe").src = "/icons/logo-bottom.svg";
  document.getElementById("settings").src = "/icons/user-bottom-selected.svg";
  document.getElementById("logout").addEventListener("click", () => {
    fetch("/api/user/logout", {
      method: "GET",
    }).then(() => {
      window.location.href = "/";
    });
  });
</script>

<div class="mx-auto mt-5 mb-3">
  <div class="p-1 rounded-full border-4 border-primary">
    <div
      class="profile-image rounded-full"
      id="profile-image"
      style="
        background-image: url(https://placehold.co/400x600);
        background-position: center;
        background-size: cover;
      "
    ></div>
  </div>
</div>
<h1 id="name" class="text-center text-2xl mt-1 text-sm"></h1>
<div class="flex flex-col">
  <textarea
    class="w-full border-none bg-secondary-contrast p-2 rounded-lg"
    id="bio"
    cols="30"
    rows="10"
  >
  </textarea>
  <button
    id="save"
    style="display: none"
    class="my-12 text-center mx-auto font-bold rounded-full bg-primary text-white p-2"
  >
    CONTINUE
  </button>
</div>
<div class="h-full"></div>
<a href="#" id="logout" class="mb-5 text-center text-secondary">Sign Out</a>
