<script>
  window.useGuard();
  const chatViewDiv = document.getElementById("chat-views");
  const matchViewDiv = document.getElementById("match-views");

  const chatViews = {};

  function updateMessage(newMessage) {
    if (newMessage.author in chatViews) {
      const messageDiv = chatViews[newMessage.author];

      chatViewDiv.prepend(messageDiv);

      messageDiv.children[1].children[1].innerText = newMessage.payload;
    }
  }

  async function fetchChats() {
    const fetchChatViews = await (await fetch("/api/chat")).json();

    fetchChatViews.forEach(addChatView);
  }

  async function fetchMatches() {
    const fetchMatchViews = await (await fetch("/api/match")).json();
    console.log(fetchMatchViews);
    fetchMatchViews.forEach(addMatchView);

    if (fetchMatchViews.length == 0) {
      document.getElementById("match-view-container").remove();
    }
  }

  function addChatView(chatView) {
    const element = chatViewToElement(chatView);

    chatViews[chatView.recipient_id] = element;

    chatViewDiv.appendChild(element);
  }

  function addMatchView(matchView) {
    const element = matchViewToElement(matchView);

    matchViewDiv.appendChild(element);
  }

  function chatViewToElement(obj) {
    // 1  <div class="flex py-4">
    // 2    <div class="flex justify-center items-center">
    // 3      <img src="/icons/user-bottom.svg" style="height: 60px;"/>
    // 4    </div>
    // 5    <div class="flex-grow flex flex-col overflow-x-hidden">
    // 6      <h3 class="m-0 py-1 px-2">
    // 7        user name
    // 8      </h3>
    // 9      <h5 class="m-0 py-1 px-2">
    // 10       message
    // 11    </h5>
    // 12  </div>
    // 13</div>

    const div = document.createElement("div");
    const div_0_div = document.createElement("div");
    const div_0_div_0_img = document.createElement("img");
    const div_1_div = document.createElement("div");
    const div_1_div_0_h3 = document.createElement("h3");
    const div_1_div_1_h5 = document.createElement("h5");

    div.append(div_0_div, div_1_div);
    div_0_div.append(div_0_div_0_img);
    div_1_div.append(div_1_div_0_h3, div_1_div_1_h5);

    div.classList.add("flex", "py-4");
    div_0_div_0_img.setAttribute("src", `/api/user/image/${obj.img_url}`);
    div_0_div_0_img.style.height = "60px";
    div_0_div_0_img.style.width = "60px";
    div_0_div_0_img.style.objectFit = "cover";

    div_0_div_0_img.classList.add("rounded-full");
    div_0_div.classList.add("flex", "justify-center", "items-center");
    div_1_div.classList.add(
      "flex-grow",
      "flex",
      "flex-col",
      "overflow-x-hidden"
    );
    div_1_div_0_h3.classList.add("m-0", "text-lg", "py-1", "px-2");
    div_1_div_1_h5.classList.add("m-0", "font-thin", "py-1", "px-2");

    div_1_div_0_h3.innerText = obj.recipient_name;
    div_1_div_1_h5.innerText = obj.message;

    div.addEventListener("click", () => {
      router.push(`/chat/${obj.recipient_id}`);
    });

    return div;
  }

  function matchViewToElement(obj) {
    // 1  <div class="py-4 flex flex-col">
    // 2    <img src="/icons/user-bottom.svg" style="height: 60px; width: 60px; object-fit: cover;"/>
    // 3    <div>
    // 4      <h6>username</h6>
    // 5    </div>
    // 6  </div>

    const div = document.createElement("div"); // 1
    const div_0_img = document.createElement("img");
    const div_1_div = document.createElement("div");
    const div_1_div_0_h6 = document.createElement("h6");

    div.style.width = "60px";

    div.append(div_0_img, div_1_div);
    div_1_div.appendChild(div_1_div_0_h6);

    div.classList.add("px-2", "py-4");
    div_0_img.setAttribute("src", `/api/user/image/${obj.img_url}`);
    div_0_img.style.height = "60px";
    div_0_img.style.width = "60px";
    div_0_img.style.objectFit = "cover";
    div_0_img.style.borderRadius = "50%";

    div_1_div_0_h6.classList.add("mb-0", "mt-2", "py-0", "px-1", "text-center");
    div_1_div_0_h6.style.textOverflow = "ellipsis";
    div_1_div_0_h6.style.overflow = "hidden";
    div_1_div_0_h6.innerText = obj.target_name;

    div.addEventListener("click", () => {
      router.push(`/chat/${obj.user_pair}`);
    });

    return div;
  }

  function init() {
    fetchChats();

    fetchMatches();

    if (window.es) {
      console.log("remove existing es");
      window.es.close();
    }

    window.es = new EventSource("/api/chat/subscribe", {
      withCredentials: true,
    });

    window.es.addEventListener("_message", (e) => {
      const eventPayload = JSON.parse(e.data).payload;

      updateMessage(eventPayload);
    });

    window.es.addEventListener("close", (e) => {
      window.es.close();

      window.es = undefined;
    });
  }

  init();
</script>

<style>
  ::-webkit-scrollbar-thumb {
    background-color: rgb(251, 170, 170);
    border-radius: 50px;
  }

  ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
</style>

<div class="mx-12 py-5 flex h-full flex-col">
  <div class="h-full flex relative flex-col">
    <img
      src="/icons/logo-sm.svg"
      style="width: 120px"
      class="mx-auto lg:hidden"
    />
    <div class="h-full flex relative flex-col">
      <div class="h-full flex relative flex-col scroll">
        <div class="mt-2 font-bold" id="match-view-container">
          <span>Your Matches</span>
        </div>
        <div class="flex gap-2 overflow-x-scroll" id="match-views"></div>
        <div class="font-bold">
          <span>Messages</span>
        </div>
        <div class="flex-grow overflow-y-scroll scroll" id="chat-views"></div>
      </div>
    </div>
    <div class="flex mx-12 justify-between lg:hidden">
      <img src="/icons/logo-bottom.svg" onclick="router.push('/user/swipe')" />
      <img src="/icons/chat-bottom-selected.svg" />
      <img
        src="/icons/user-bottom.svg"
        onclick="router.push('/user/settings')"
      />
    </div>
  </div>
</div>
